@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb {
  @apply bg-accentDark rounded-[10px];
}

::-webkit-scrollbar {
  width: 15px;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body p,
h1 {
  user-select: none;
}

.LoaderDots div {
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.LoaderDots div:nth-child(1) {
  left: 8px;
  animation: LoaderDots1 0.6s infinite;
}
.LoaderDots div:nth-child(2) {
  left: 8px;
  animation: LoaderDots2 0.6s infinite;
}
.LoaderDots div:nth-child(3) {
  left: 32px;
  animation: LoaderDots2 0.6s infinite;
}
.LoaderDots div:nth-child(4) {
  left: 56px;
  animation: LoaderDots3 0.6s infinite;
}
@keyframes LoaderDots1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes LoaderDots3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes LoaderDots2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.verification-scroll::-webkit-scrollbar-track {
  background-color: #f4f4f4;
}

.verification-scroll::-webkit-scrollbar-thumb {
  @apply bg-accentDark rounded-[10px];
}

.verification-scroll::-webkit-scrollbar {
  width: 3px;
}

#animate-left {
  display: block;
  transform: translateX(-100px);
  opacity: 0;
}

#animate-bottom {
  transform: translateY(200px);
  opacity: 0;
}

.positive {
  color: #16c784;
}

.negative {
  color: #d92424;
}